#top_page {

    width: 930px;

    background: url("cherished_photos/binary.jpg") repeat;
    /*background-color: darkkhaki;*/
    
    
    border: 5px outset rgb(197, 235, 189);
    text-align: center;

    font-size: 130;



}

#inline_top {

    margin: 75px;
    
    opacity: 0.99;
    border: 20px solid black;

}

#title {

    font: 200;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:firebrick;
    font-weight: 600;

}

/* add snail animation */
